[submodule "backend"]
	path = backend
	url = ssh://git@github.com/gothinkster/rails-realworld-example-app
[submodule "frontend"]
	path = frontend
	url = ssh://git@github.com/gothinkster/react-redux-realworld-example-app
